.bg {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h1 {
    text-align: center;
    font-family: 'Libre Baskerville';
    font-weight: 700;
    font-size: 50px;
    color: white;
    margin: 5px;
}

.chords {
    font-size: 50px;
    color: white;
    font-family: 'Libre Baskerville';
    backdrop-filter: blur(20px);
    border-radius: 25px;
    padding: 10px;
}

.button {
    backdrop-filter: blur(20px);
    font-size: 20px;
    color: white;
    border-radius: 25px;
    border-color: #6f6996;
    border-width: 1px;
    padding: 10px;
    margin: 10px;
    margin: 10px;
    transition: box-shadow 0.25s ease-in-out, transform 0.1s ease-in-out;
}

.button:hover {
    box-shadow: 0 0 15px #ffffff; 
}

.button:active {
    transform: scale(0.95);
}

.homeButton {
    backdrop-filter: blur(20px);
    font-size: 14px;
    color: white;
    border-radius: 25px;
    border-color: #6f6996;
    border-width: 1px;
    padding: 10px;
    margin: 10px;
    margin: 10px;
    transition: box-shadow 0.25s ease-in-out, transform 0.1s ease-in-out;
}

.homeButton:hover {
    box-shadow: 0 0 15px #ffffff; 
}

.homeButton:active {
    transform: scale(0.95);
}